@using CodingEvents.ViewModels
@model AddEventCategoryViewModel

<h1>Add an Event Category</h1>

<form asp-controller="EventCategory" asp-action="ProcessCreate" method="post">
    <div class="form-group">
        <label asp-for="Name">Event Category Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Add Event Category" />
</form>