<h1>Delete Event</h1>

<form method="post">

    @foreach (Event singleEvent in ViewBag.events)
    {
        <div class="form-group">
            <label>
                <span>@singleEvent.Name</span>
                <input type="checkbox" name="eventIds" value="@singleEvent.Id"/>
            </label>
        </div>        
    }
    <input type="submit" value="Delete Stuff" class="btn btn-light"
</form>