

<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">add an event</a>
</p>


@if (ViewBag.events.Count == 0)
{
    <p>No fun here, please add an event.</p>
}

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    @foreach (Event singleEvent in ViewBag.events)
    {
        <tr>
            <td>
                <a href="/event/edit/@singleEvent.Id">@singleEvent.Id</a>
            </td>
            <td>@singleEvent.Name</td>
            <td>@singleEvent.Description</td>
        </tr>
    }
</table>

@*<a href="/event/add">add an event</a>*@
 